@import url('https://fonts.googleapis.com/css2?family=Anton&family=Diplomata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Diplomata&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


#root {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  margin-top: 0;
  text-align: center;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.header {
  width: 100vw;
  height: 7vh;
  background-color: #61892F;

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -1.5vh;
}

.logo {
  font-family: 'Anton', sans-serif;
  font-size: 3vh;
  margin-left: 1vw;
  color: white;
  font-weight: 800;
}

.material-icons {
  font-size: 4.7vh;
  color: rgb(255, 255, 255);
  vertical-align: middle;
}

.motto {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: italic;

  font-size: 1.5vh;
  margin-left: 76vw;
  color: white;
  margin-top: 4vh;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  font-family: "Lato", sans-serif;
}

.cart-number-of-elements-container {

  width: 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-top: 0.2vh;
  gap: 0.4vw;

  margin-left: 85vw;
}

.icons-cart {
  color: black;
  font-size: 3vh;
}

.number-of-cart-items {
  font-size: 2.4vh;
}

.number-of-cart-items-text {
  font-size: 1.8vh;
}

.main-list-container {
  position: fixed;
  top: 10;
  left: 20;
  height: 90vh;
  width: 60vw;

  align-items: center;

  background-color: #60892f1b;
}

.main-text {
  font-weight: 800;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.list-container {
  background-color: #60892f44;
  margin-left: 5vw;
  width: 50vw;
  height: 65vh;
  border-radius: 0.9vh;
  padding-top: 4vh;
  gap: 2vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 1.5vh;
  border-radius: 1vh;
  border: solid white 0, 2vh;

  width: 80%;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.663);
  gap: 4vw;
}

.product-name {
  width: 10vw;
}

.product-price {
  width: 4vw;
}

.go-to-cart-button {
  background-color: #78ae35;
  color: white;
  font-size: 1.6vh;
  font-weight: 800;
  height: 4vh;
  margin-top: 1.5vh;
}

.go-to-cart-button:hover {
  background-color: #619127;

}

.list-item-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  font-size: 1.4vh;
  border-radius: 1vh;
  border: solid white 0, 2vh;

  width: 90%;
  height: 7.5vh;
  background-color: rgba(255, 255, 255, 0.663);
  gap: 3.2vw;
}

.list-container-header {
  font-weight: 800;
  font-size: 1.45vh;
}

.product-name-cart {
  width: 9vw;
}

.product-price-cart {
  width: 4vw;
}

.product-quantity {
  width: 6vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  gap: 0.3vw;
}

.product-delite {
  width: 5vw;
}

.product-final-price {
  width: 6vw;
  text-align: center;
}

.change-quantity-button {
  width: 1.5vw;
  padding: 1.1vh 1vh;
  text-align: center;
  background-color: #3f6116;
  border-radius: 1vh;
}

.change-quantity-button:hover {
  background-color: #55831d;
}

.button-delite {
  background-color: #6a1e1e;
  width: 5vw;
}

.button-delite:hover {
  background-color: #8a2525;
}


.total-price-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.6vh;
  background-color: #38581072;
  padding: 0.3vh 0.7vw;
  border-radius: 1vh;
  gap: 0.5vw;
}




.total-price {
  font-weight: 800;
}

.navigate-to-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 14vw
}

.go-to-list {
  color: #78ae35;
  font-size: 1.7vh;
  text-decoration: underline;
  margin-right: 5vw;
}

.go-to-list:hover {
  color: #628e2b;
  font-size: 1.7vh;
  text-decoration: underline;
  margin-right: 5vw;
}

.main-list-container-summary {
  background-color: rgba(142, 141, 141, 0.326);
  
}



.list-container-summary{
   background-color: rgba(142, 141, 141, 0.326);
}
.list-item-cart-summary{
  height: 6.5vh;
  padding-left: 1vw;
  width: 75%;
}

.list-item-cart-summary-total{
  background-color: rgba(142, 141, 141, 0.452);
  font-weight: 800;
  border: solid 0.2vh rgba(99, 99, 99, 0.997);
  
  
}
.product-price-cart-summary{
  margin-left: -2vw;
}
.go-to-summary{
  background-color: rgba(41, 41, 41, 0.997);
}

.go-to-summary:hover{
  background-color: rgba(60, 60, 60, 0.997);
}

.go-to-list-summary{
  color: rgba(80, 79, 79, 0.997);
}

.go-to-list-summary:hover{
  color: rgba(107, 107, 107, 0.997);
}

button:disabled{
  cursor: not-allowed;
  color: rgba(107, 107, 107, 0.516);
}
.fotter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3vh;
  background-color: #3f6116;

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  z-index: 1000;

}


.fotter-text {
  margin-left: 1vw;

  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1vh;
}

.git-link {
  color: rgb(193, 236, 236);
}

.git-link:hover {
  color: rgb(157, 239, 239);
}